# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
server/package-lock.json
ReactTest/package-lock.json
# dependencies
ReactTest/node_modules
server/node_modules
ReactTest/.pnp
ReactTest.pnp.js

# testing
ReactTest/coverage

# production
ReactTest/build

# misc
ReactTest/.DS_Store
ReactTest/.env.local
ReactTest/.env.development.local
ReactTest/.env.test.local
ReactTest/.env.production.local

ReactTest/npm-debug.log*
ReactTest/yarn-debug.log*
ReactTest/yarn-error.log*
